$po_blue: #249DF1;
$white: white;
$green: #00B16A;
$red: #CF000F;

$radius: 10px;

/* kadwa-700 - latin */
@font-face {
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 700;
    src: local('Kadwa Bold'), local('Kadwa-Bold'),
         url('/static/fonts/kadwa-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/static/fonts/kadwa-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html, body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: $white;
}

body {
    background-color: $po_blue;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-family: 'Kadwa', serif;
    font-size: 3em;
    font-weight: bold;
}

.input-group {

    input {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        border-width: 1px;
        border-style: none;
        border-color: grey;
        border-bottom-style: solid;

        &:first-child {
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
        }

        &:last-child {
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
            border-bottom-style: none;
        }
    }
}

.button, button {
    border-radius: $radius;
    padding: 10px 30px;
    border-width: 1px;
    border-color: $white;
    border-style: solid;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        transform: scale(0.9);
    }

    &.green {
        background-color: $green;
        color: $white;
    }

    &.red {
        background-color: $red;
        color: $white;
    }
}

.error {
    background-color: $red;
    color: $white;
    text-align: center;
    padding: 5px;
}

header {
    text-align: center;
}